.dashboard-wrapper{
    background-color: #F7F7FA;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: hidden;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    height: 100vh;
    position: fixed;
    width: 15%;
}
nav h1{
    font-weight: 700;
    font-size: 22px;
    color: #009A40;
    text-align: center;
    width: 176px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    color: #151515;
    margin-bottom: 5px;
    height: 40px;
}
.nav-link.active{
    color: #FFFFFF;
    background-color: #009A40;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 30px;
    height: 40px;
    margin-right: 10px;
}
.nav-link p{
    font-weight: 500;
    font-size: 14px;
    color: #151515;
    line-height: 18.75px;
}
.nav-link img{
    margin-right: 20px;
    width: 16px;
    height: 16px;
}
.nav-link p:hover{
    color: #FFFFFF;
}
#link:hover{
    background-color: #009A40;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#nav-link{
    margin-top: 120px;
}
.dashboard-img{
    width: 16px;
    height: 16px;
}
#nav-link:hover{
    margin-top: 120px;
    background-color: #009A40;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.dashboard-cont{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 300px;
    margin-top: 20px;
    width: 85%;
}
.dashboard-header{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow:  0 2px 5px 0 #000000;
    height: 80px;
    align-items: center;
    padding-left: 70px;
    padding-right: 40px;
}
.dashboard-input{
    border: none;
    border-radius: 10px;
    background-color: #E5F5F1;
    padding-left: 30px;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
    width: 300px;
    height: 35px;
}
.dashboard-input::placeholder{
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;
}
.header-right{
    display: flex;
    align-items: center;
}
.bell{
    width: 32.93px;
    height: 39.38px;
    margin-right: 30px;
}
.dp{
    width: 46.67px;
    height: 46.67px;
}
.binCards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 120px;
    margin-left: 20px;
}
.binCard-con{
    display: flex;
    align-items: center;
    width: 250px;
    height: 120px;
    box-shadow:  0 1px 4px 0 #000000;
    border-radius: 20px;
    padding-left: 20px;
    height: 125px;
    margin-right: 20px;
    background-color: #FFFFFF;
}
.binImg{
    width: 64px;
    height: 64px;
}
.binCard-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
}
.binCard-text p{
    font-weight: 500;
    font-size: 16px;
    line-height: 37.5px;
    color: #151515;
}
.binCard-text h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 37.5px;
    color: #151515;
    margin-top: -20px;
}
.green-tag{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #009A40;
    border-radius: 20px;
    width: 112px;
    height: 125px;
}
.green-tag img{
    margin-top: 20px;
}
.green-tag p{
    font-weight: 500;
    font-size: 16px;
    line-height: 37.5px;
    color: #FFFFFF;
}
.up-text{
    margin-top: 0px;
}
.below-text{
    margin-top: -30px;
}
.table{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}
.table-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.table-top h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: #000000;
}
.table-top p{
    line-height: 18.75px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.green-line{
    width: 59px;
    border-bottom:  2px solid #009A40;
    margin-bottom: -15px;
}
.table{
    background-color: #FFFFFF;
    box-shadow:  1px 1px 3px 0 #383636;
    border-radius: 20px;
    margin-top: 50px;
    padding: 30px;
}
.table-top button{
    line-height: 18.75px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}
.table-top button img{
    width: 20px;
    height: 11.54px;
    margin-left: 10px;
}
.table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.table-head p{
    line-height: 23.44px;
    font-weight: 500;
    font-size: 20px;
    width: 16.7%;
    text-align: center;
}
.table-head .id{
    text-align: justify;
    margin-left: 40px;
    width: 12%
}
.table-row{
    margin-right: 40px;
    height: 40px;
}
.table-row p{
    line-height: 23.44px;
    font-weight: 500;
    font-size: 16px;
    width: 12%;
    text-align: center;
    margin-left: 30px;
}
hr{
    width: 97%;
}
.blue{
    background-color: #E5F5F1;
    height: 30px;
    width: auto;
    border-radius: 10px;
}
.red{
    background-color: #F5E5E6;
    border-radius: 10px;
    height: 30px;
    width: auto;
}
.download{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.download button{
    background-color: #009A40;
    color: #FFFFFF;
    line-height: 23.44px;
    font-weight: 500;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.download p{
    color: #009A40;
    line-height: 23.44px;
    font-weight: 500;
    font-size: 16px;
}
.bar-con{
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 40px;
    box-shadow:  1px 1px 3px 0 #383636;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
}
.bar-div{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}
.bar-img{
    width: 62px;
}
.bar p{
    font-weight: 500;
    font-size: 16px;
    columns: #151515;
    line-height: 18.75px;
}
.bar-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.top-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.top-left p{
    color: #000000;
    line-height: 18.75px;
    font-weight: 500;
    font-size: 16px;
}
.top-left h2{
    color: #000000;
    line-height: 32px;
    font-weight: 700;
    font-size: 30px;
    margin-top: -10px;
}
.top-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    border: 2px solid #818181;
}
.date-input{
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.6px;
    color: #818181;
}
.top-right p{
    font-weight: 700;
    font-size: 12px;
    line-height: 14.6px;
    color: #151515;
    margin-left: 10px;
}